{% extends 'layout.html.twig' %}

{% block nav %}
  {% include 'navbar.html.twig' %}
{% endblock %}

{% block content %}
{% for error in errors %}
    <p>{{error}}</p>
{% endfor %}
<script src="https://kit.fontawesome.com/70959f304a.js" crossorigin="anonymous"></script>

<body>
    <form class="form-add" method="POST" action="">
        <a href="/admin"><i class="fa-solid fa-chevron-left" style="color: #ffffff;">Ajouter</i></a> 
            <div class="list-dropdown">
                <select required name="language">
                    <option value="" disabled selected>Langue</option>
                    {% for language in languages %}
                        <option value="{{language.id}}">{{language.name}}</option>
                    {% endfor %}
                </select>
            </div>

            <div class="list-dropdown">
                <select required name="level">
                    <option value="" disabled selected>Niveau</option>
                    {% for level in levels %}
                        <option value="{{level.id}}">{{level.name}}</option>
                    {% endfor %}
                </select>
            </div>
            <p>Ajoute ta question</p>
            <input type="text" name="entitled" required>

            <p>Ajoute tes réponses</p>
            <input type="file" name="trueContentUrl" placeholder="image">
            <input type="text" name="trueContent" placeholder="réponse correcte" required>
            <input type="file" name="falseContent1Url" placeholder="image">
            <input type="text" name="falseContent1" placeholder="réponse fausse" required>
            <input type="file" name="falseContent2Url" placeholder="image">
            <input type="text" name="falseContent2" placeholder="réponse fausse" required>
            <input class="ajouter" type="submit" value="Ajouter">

    </form>
</body>
{% endblock %}