{% extends 'layout.html.twig' %}

{% block content %}
<script src="https://kit.fontawesome.com/70959f304a.js" crossorigin="anonymous"></script>

<body>
    <form method="POST" action="">
    <a href="/admin"><i class="fa-solid fa-chevron-left" style="color: #ffffff;">Modifier</i></a> 
        <div class="list-dropdown">
        <select name="language">
        <option disabled selected>Langue</option>
        {% for language in languages %}
            <option value="{{language.id}}" id="recherche">{{language.name}}</option>
        {% endfor %}
        </select>
        </div>

        <div class="list-dropdown">
        <select name="level">
        <option disabled selected>Niveau</option>
        {% for level in levels %}
            <option value="{{level.id}}">{{level.name}}</option>
        {% endfor %}
        </select>
        </div>

        <label for="site-search">
        <input type="search" id="site-search" name="recherche"/>
        </label>
    <table role="grid">
  <thead>
    <tr>
      <th scope="col"></th>
      <th scope="col">Question</th>
      <th scope="col">Réponse</th>
      <th scope="col">Language</th>
      <th scope="col">Level</th>
    </tr>
  </thead>
  <tbody>
  {% for question in questions %}
    <tr>
      <th scope="row"></th>
      <td>{{question.entitled}}</td>
      <td>{{question.content}}</td>
      <td>{{question.lg_name}}</td>
      <td>{{question.lv_name}} <a href="/admin/edit?id={{question.id}}"><img src="/assets/images/modifier.png"/></a> <img src="/assets/images/supprimer.png"/></td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}